.side
  .side-header
    .side-header__box
      .side-header__box__user-name
        D
      .side-header__box__icon 
        =link_to "#" do
          = icon('fas', 'edit')
        =link_to "#" do
          = icon('fas', 'cog')
        
      
  .side__group
    .side__group-list
      .side__group-list-name
        test
      .side__group-list-message
        まだメッセージはありません

    
